* { /*o navegador vem com algumas propriedades pre definidas e nem sempre é interesente para o projeto*/
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* a medida da caixa é apartir das bordas*/
}
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url : url(./assets/moon-stars.svg)
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.2);
  --switch-bg-url : url(./assets/sun.svg)
}

body {
  
  /* background-image: url(./assets/bg-mobile.jpg); */
  /* background-repeat: no-repeat; não permite repetir a imagem */
  /* background-position: top center; delimita o topo(y) e posiciona no centro(x) */
  /* background-size: cover; cobre o fundo inteíro || se fosse o contain seria referente ao body(caixa)  */

  /*
  Resumir em uma linha
  background: color image repeat position/size
  */
  background: purple var(--bg-url) no-repeat top center/cover;
  height: 100vh;

}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}


#container {
  width: 100%;
  max-width: 588px;
  /*height: 712px;*/ /*normalmente não se define a altura para deixar mais fluido*/

  /*
  margin-right: auto;
  margin-left: auto;
   ou
  */
  /*margin|padding: todos | eixoy eixox | cima laterais baixo | cima direita baixo esquerda*/
  margin: 56px auto 0px;

  padding: 0 24px;
}
/*Profile*/
#profile {
  text-align: center; 
  padding: 24px;
}

#profile img {
  width: 112px;
  border-radius: 50%;
  border: 1px solid var(--surface-color);
  /*margin: auto;*/ /*o margin não funcionam elememtos inline */
}


#profile p {
  margin-top: 8px;
  font-weight: 500; /* negrito */
  line-height: 24px;  /* altura da linha*/
}

/*switch*/
#switch {
  position: relative; /* ele relativisa a posição que os elementos podem ir dentro dessa div*/
  width: 64px;

  margin: 0 auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute; /*a tela inteira ou ate onde ele é relativo, que no caso é a div*/
  top: 50%; /*deixa 50% abaixo do topo*/
  left: 0;
  z-index: 1; /* camada 1*/
  transform: translateY(-50%); /*faz que o elemento fique metade dele acima da caixa da div*/
  animation: slide-back .2s;
}

.light #switch button {
  animation: slide-in 0.2s forwards; /* forwards mantem as propiedades alteradas na animação */
}

#switch button:hover{
  outline: 8px solid var(--highlight-color);
}

#switch span { /*o span é inline*/
  display: flex;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;

  /*camada 0*/
}

/*Lista*/
ul {
  list-style: none;
  
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex; 
  align-items: center; /* flex alinha eixo y */ 
  justify-content: center; /* flex alinha eixo x */

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px; /*Deixa a borda redonda*/

  backdrop-filter: blur(4px);


  text-decoration: none; /* tira a linha a baixo do link*/
  font-weight: 500;

  transition: background 0.2s; /* toda vez que houver uma "atualização" ira transicionar*/
}

/* pseudo-selector*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/*social links*/
#social-links {
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 4px;

  padding: 24px 0; 

  font-size: 24px;
}

#social-links a {
  padding: 16px;
  border-radius: 50%;

  transition: background 0.2s;
}

#social-links a:hover {
  background: var(--highlight-color);
}

/*footer*/
footer {
  text-align: center;
  padding: 24px 0;
}

/*media queries*/
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}


/*animation*/
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}